/* UserDetail.css */
.user-detail {
    padding: 2rem;
    background-color: #f7f7f7;
    color: #007bff;
    text-align: center;
    max-width: 600px; /* Limiting the width of the user detail container */
    margin: auto; /* Centering the container */
    margin-top: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .user-detail-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 1rem); /* Adjusting input width */
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem; /* Adding space above the buttons */
    width: 100px; /* Fixing button width */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between; /* Aligning buttons to space between */
  }

  .btn > button{
    margin-left: 5px;
  }